 <div class="user-details">
  <h1> My Expertise </h1>
  <p> Undergraduate Computer Science student at Birla Institute of Technology and Science(BITS Pilani), Goa Campus. I am intersted in Machine learning, Deep learning, Android Development and Competitive coding.</p>
   <a class="project-link" target="_blank" style="margin: 0 auto" href="./assets/docs/CV_1.pdf">RESUME</a>
</div>
  <div class="user">
    <div class="tech">
      <h2>Machine Learning / Deep Learning</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <p>Building and contributing to deep learning projects. I primarily use pytorch and keras for my deep learning projects and numpy, pandas and scikit-learn for machine learning projects.</p>
        
    </div>
    <div class="tech">
      <h2>Competitive Coding</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>I mostly use websites such as Codechef,HackerRank and Codeforces for competitive coding.</p>
    </div>
    <div class="tech">
      <h2>App Development</h2>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>Building and contributing to android apllications using android studio.</p>
        
    </div>
</div>
