 <div class="user-details">
  <h1> My Expertise </h1>
  <p> Undergraduate Computer Science student at Birla Institute of Technology and Science(BITS Pilani), Goa Campus. I am intersted in Android Development, Competitive coding and Machine Learning.</p>
   <a class="project-link" target="_blank" style="margin: 0 auto" href="./assets/docs/CV_1.pdf">RESUME</a>
</div>
  <div class="user">
   <div class="tech">
      <h2>Machine Learning/Deep learning</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-keras-plain colored"></i>
      <p>I mainly use Keras and Tensorflow for deploying my deep learning models. I am also famililiar with PyTorch and frequently participate in online ML competitions.</p>
    </div>
   
    <div class="tech">
      <h2>App Development</h2>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <p>Building and contributing to android apllications using android studio.</p>
        
    </div>
    <div class="tech">
      <h2>Competitive Coding</h2>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <p>I mostly use websites such as Codechef,HackerRank and Codeforces for competitive coding.</p>
    </div>
    
</div>
