<div class="user-details">
  <h1> Blog </h1>
</div>

<div class="user-projects">
  </div>
  <div align="center">
  <div class="contents">
    <div align="left">
    <h3> GLMC:</h3>
  </div>
    <!--
    <div align="left">
    <h3> GLMC</h3>
  </div>

    <div align="left">
    <ul>
      <li> C </li>
      <li> Python</li>
    </ul>
  </div>
-->


    <p>GLMC is a specialized linear algebra library prepared with C along with a python wrapper.</p>
    <p>I started this project by doing a detailed study of the concepts of linear algebra that i had previously learnt and leaning some new ones which helped me set up a strong foundation to code optimally.</p>
    <p>The next step was to decide a timeline and create a rough model for referrance.</p>
    <p>And finally came the coding part. The coding part of the project was made relatively simple due to the strong base set up before it by the rough model and revision of concepts of linear algebra. After a few weeks of coding, the C library was completed and it could perform functions for 2x2,3x3,4x4 matrices and 2D,3D,4D vectors. It could also perform functions between matrices and vectors. The matrices were column major and vectors were column vectors.  Note that the exmphasis was on speed and most of the functions were hence hard coded.  </p>

    <a class="project-link" href="https://github.com/ashwinvaswani/glmc
">Project link</a>
  </div>
</div>

</div>