<div class="user-details">
  <h1> Featured Projects </h1>
</div>
  <div class="user-projects">
  <div class="images-right">
  </div>
  <div class="contents">
    <h3> GLMC</h3>
    <ul>
      <li> C </li>
      <li> Python </li>
    </ul>
    <p>A specialized linear algebra library for OpenGl made in C with a python wrapper.</p>
    <a class="project-link" href="https://github.com/ashwinvaswani/glmc
">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/SpaceInv.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Space Invaders</h3>
    <ul>
      <li> Using Pygame </li>
    </ul>
    <p>A modern implementation of classic arcade game Space Invaders made using Pygame.</p>
    <a class="project-link" href="https://github.com/ashwinvaswani/Space-Invaders-1
">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/DojMa.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> DojMa </h3>
    <ul>
      <li> Java </li>
      <li> Android </li>
    </ul>
    <p>An Android application for the Department of Journalism and Media Affairs of BITS Pilani, Goa Campus.</p>
    <a class="project-link" href="https://github.com/ashwinvaswani/DoJMA
">Check it out</a>
  </div>
</div>
