<div class="user-details">
  <h1> Featured Projects </h1>
</div>




<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/gesture.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dynamic Hand Gesture Recognition</h3>
    <ul>
      <li> Python </li>
      <li> Keras </li>
    </ul>
    <p> Recognising Dynamic Hand Gesture movements and mapping them to Human Computer Interaction based acitivites in real time.</p>
    <a class="project-link" href="https://github.com/ashwinvaswani/Dynamic-Gesture-Recognition
">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/s2f.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Generative Modelling of Images from Speech</h3>
    <ul>
      <li> Python </li>
      <li> PyTorch </li>
    </ul>
    <p>On-going project to reconstruct a person's face from a sample of his/her audio using.</p>
    <a class="project-link" href="https://github.com/ashwinvaswani/Generative-Modelling-of-Images-from-Speech
">Check it out</a>
    </div>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/AI_assistant.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AI Assistant</h3>
    <ul>
      <li> Python </li>
      <li> Keras </li>
    </ul>
    <p>An AI assistant for differently-abled people to recognize static hand gestures and converting them into sign language. Can also convert Text/Voice into a live motion sequence of gestures and read out newspapers/articles.</p>
    <a class="project-link" href="https://github.com/ashwinvaswani/AIhackathon
">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/object.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Object Detection</h3>
    <ul>
      <li> Python </li>
      <li> Keras </li>
    </ul>
    <p> Object detection for Flipkart Grid Challenge in which I secured an All India rank of 29.</p>
    <a class="project-link" href="https://colab.research.google.com/drive/1OSZGSsqrEGQ6HaFNIGDkQMtVrDno1iC8
">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/openGL.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> GLMC</h3>
    <ul>
      <li> C </li>
      <li> Python </li>
    </ul>
    <p>A specialized linear algebra library for OpenGL made in C with a python wrapper.</p>
    <a class="project-link" href="https://github.com/ashwinvaswani/glmc
">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/SpaceInv.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Space Invaders</h3>
    <ul>
      <li> Python </li>
      <li> Pygame </li>
    </ul>
    <p>A modern implementation of classic arcade game Space Invaders made using Pygame.</p>
    <a class="project-link" href="https://github.com/ashwinvaswani/Space-Invaders-1
">Check it out</a>
  </div>
</div>


  </div>
</div>
