<div class="user-details">
    <h1> Work Experience</h1>
  </div>
  
  <div class="user-projects">
  </div>
  <div align="center">
  <div class="contents">
    <div align="left">
    <h3> Prasaurus Sports Analytics:</h3>
  </div>
  
    <p>Worked as a Deep Learning / Computer Vision intern.</p>
    <p>My task was to process the video datasets and create deep learning models to perform various tasks such as detect players, classify actions, infer other statistics such as dominance etc.</p>

  </div>
  </div>
  
  <div class="user-projects">
  </div>
  <div align="center">
  <div class="contents">
    <div align="left">
    <h3> Cateina Technologies: </h3>
  </div>
  
    <p>Worked as a software development intern.</p>
    <p>My project was to create an customized recommendation engine using machine learning techniques for the company's use case </p>
  </div>
  </div>
  
  <div class="user-projects">
  </div>
  <div align="center">
  <div class="contents">
    <div align="left">
    <h3> Z-connect:</h3>
  </div>
  
    <p>Worked as an Android developer / intern.</p>
    <p>My project here was to create a restaurant automation application that performs various tasks to enrich user experience and revolutionarise the dine-in process.</p>
   
  </div>
  </div>
  
  </div>